# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Code Block Quentin
*.cbp
*.layout
*.depend

gui/build-App-Desktop-Debug
gui/build-App-Desktop-Release

./Makefile
Documents/2017-2018-projet-graphes-ING2-sem2-trophic-networks.pdf
